services:
  # 데이터베이스 서비스 (MySQL)
  pace-db:
    image: mysql:8.0
    container_name: pace-db
    restart: always
    environment:
      # .env 파일에서 변수를 읽어와 보안을 유지
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}

      TZ: Asia/Seoul
    # 한글 및 이모지 지원을 위한 설정
    command: >
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
    ports:
      - "3306:3306"
    # 컨테이너가 삭제되어도 데이터가 보존되도록 볼륨을 설정
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - pace-network

  # Spring Boot
  pace-app:
    # Docker Hub의 Dockerfile을 기반으로 이미지를 빌드
    image: shootingstar1020/pace-project:latest
    container_name: pace-app
    restart: always
    # DB 컨테이너가 먼저 실행된 후 애플리케이션이 실행되도록 순서를 보장
    depends_on:
      - pace-db
    environment:
      # DB 접속 주소에 서비스 이름(pace-db)을 사용하여 내부 통신을 수행
      SPRING_DATASOURCE_URL: jdbc:mysql://pace-db:3306/${MYSQL_DATABASE}?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
      SPRING_DATASOURCE_USERNAME: ${MYSQL_USER}
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_PASSWORD}
      SPRING_PROFILES_ACTIVE: prod
      JWT_SECRET: ${JWT_SECRET}
      KAKAO_CLIENT_ID: ${KAKAO_CLIENT_ID}
      KAKAO_REDIRECT_URI: ${KAKAO_REDIRECT_URI}
      GOOGLE_MAPS_API_KEY: ${GOOGLE_MAPS_API_KEY}
    ports:
      - "8080:8080"
    networks:
      - pace-network

# 서비스들이 서로 소통할 수 있는 가상 네  트워크 정의
networks:
  pace-network:
    driver: bridge

# 데이터 보존을 위한 명명된 볼륨 정의
volumes:
  mysql_data: