spring:
  application:
    name: pace

  datasource:
    url: ${DATABASE_URL}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8080

jwt:
  secret: ${JWT_SECRET:your_temporary_secret_key_for_local_development_12345}
  expiration-time: 3600000 # 1시간 (밀리초 단위)
  issuer: pace-server